<main class="main">
  <leaflet-map>ww</leaflet-map>
  <table>
    <tr>
      <td class="headerData">Location</td>
      <td class="headerData">Baddie's Name</td>
      <td class="headerData">Time Reported</td>
      <td class="headerData">Status</td>
    </tr>
    <tr>
      <td>test</td>
      <td>test1</td>
      <td>test2</td>
      <td>test3</td>
      <td><span class="moreInfo">MORE INFO</span></td>
      <td>
        <button class="delete-button"> Delete</button>
      </td>
    </tr>
    <tr>
      <td>test</td>
      <td>test1</td>
      <td>test2</td>
      <td>test3</td>
      <td><span class="moreInfo">MORE INFO</span></td>
      <td>
        <button class="delete-button"> Delete</button>
      </td>
    </tr>
    <tr>
      <td>test</td>
      <td>test1</td>
      <td>test2</td>
      <td>test3</td>
      <td><span class="moreInfo">MORE INFO</span></td>
      <td>
        <button class="delete-button"> Delete</button>
      </td>
    </tr>
  </table>
</main>


<router-outlet/>
